/* 프론트매터 구분선 색상 변경 */
.frontmatter-section-markers {
  color: #545454 !important;
}

/* aliases, tags 등 속성명 색상 변경 */
.frontmatter-section-label {
  color: #d79921 !important; /* 황금색 */
}

/* 속성 값 색상 변경 */
.frontmatter-section-data {
  color: #a89984 !important; /* 회색빛 색상 */
}

/* links 커스텀 스타일 */
.markdown-preview-view div:has(> p:contains("links:")) {
  color: #a89984;
  margin-top: 5px;
}

/* 프론트매터 전체 배경 색상 */
.frontmatter {
  background-color: var(--background-secondary) !important;
  border-radius: 4px;
  padding: 4px;
}

/* --- 구분선 스타일 */
.frontmatter-section-markers {
  font-weight: normal;
}
